* {
    box-sizing: border-box;
  }
  :root{
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
    --White: white;
    --background-color: hsl(237, 63%, 64%);
    --Light-blue: hsl(237, 59%, 82%);
    --gradient-btn: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    --gradient-background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  }
  body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0px;
    background: url('images/bg-bottom.svg') left bottom no-repeat, url('images/bg-top.svg') right top no-repeat;
    background-attachment: fixed;
    background-color: var(--Very-Light-Grayish-Blue);
  }
  .main{
    text-align: center;
  }
  .top-title{
    font-size: 26px;
    color: var(--Grayish-Blue);
    margin-top: 60px;
  }
  .toggle{
    color: var(--Light-Grayish-Blue);
    font-size: 13px;
    margin-top: 35px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plans{
    width: 285px;
    color: var(--Dark-Grayish-Blue);
    padding: 32px 26px;
  }
  .plan-basic, .plan-master{
    background-color: var(--White);
  }
  .plan-professional{
    color: var(--White);
    padding: 48px 26px;
    background-image: var(--gradient-background);
    border-radius: 10px;
  }
  .plan-basic{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 1px 14px -5px rgba(122, 122, 122, 0.42),  -1px -1px 14px -5px rgba(122, 122, 122, 0.42);
  }
  .plan-master{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 1px 14px -5px rgba(122, 122, 122, 0.42),  1px -1px 14px -5px rgba(122, 122, 122, 0.42);
  }
  .plan-amount{
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 28px;
  }
  .dollar{
    font-size: 32px;
    display: inline-block;
  }
  .annually-amount{
    display: none;
  }
  .plan-info{
    border-bottom: 1px solid var(--Light-Grayish-Blue);
    padding: 15px 0px;
    font-size: 12px;
  }
  .plan-info:first-of-type{
    border-top: 1px solid var(--Light-Grayish-Blue);
  }
  .plan-btn{
    width: 100%;
    margin-top: 28px;
    padding: 10px 0px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--background-color);
    border: 1px solid var(--White);
    text-transform: uppercase;
    border-radius: 5px;
  }
  .plan-btn-others{
    background-image: var(--gradient-btn);
    color: var(--White);
    border: 1px solid var(--White);
  }
  .plan-btn-others:hover{
    background-image: none;
    background-color: white;
    color: var(--background-color);  
    cursor: pointer;
    border-color: var(--background-color);
  }
  .plan-btn-middle:hover{
    background-color: hsla(0, 0%, 0%, 0);
    color: var(--White);  
    cursor: pointer;
  }
  .slider {
    position : relative;
    display : inline-block;
    width : 50px;
    height : 27px;
    background-image: var(--gradient-btn);
    border-radius: 30px;
  }
  .slider:hover{
    cursor: pointer;
    background-image: none;
    background-color: var(--Light-blue);
  }
  .slider:after {
      content: '';
      position: absolute;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color:  var(--White);
      top: 3px; 
      left: 3px;
      transition:  all 0.5s;
  }
  .checkbox:checked + .slider:after {
      left : 24px;
  }
  .checkbox{
      display: none;
  }

  @media (max-width: 375px){
    .container{
      flex-direction: column;
    }
    body{
      background: none;
      background: url('images/bg-top.svg') right top no-repeat;
      background-attachment: fixed;
    }
    .plans{
      margin-bottom: 25px;
    }
  }